.lsp-session-v1
.mc-lists.el
abbrev_defs
auto-save-list/
autosave/
backup/
custom.el
elegantvagrant-theme.el
eln-cache/
elpa/
eshell/
history
ido.last
recentf
saveplace
smex-items
tramp
transient/
secret/
*.elc
.user-lisp-autoloads.el
network-security.eld
games/
emms/
elfeed/
bookmarks
.org-id-locations
org-roam.db
projects.eld
tree-sitter/
image-dired/